<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">

    <title>Borrow Book</title>
</head>
<body>

    <h1>Borrow a Book</h1>

    <form method="POST">
        <label>Select Book:</label><br>

        <select name="bookID">
            {% for b in books %}
                {% if b.status == "available" %}
                    <option value="{{ b.bookID }}">
                        {{ b.title }} — {{ b.author }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>

        <br><br>
        <button type="submit">Borrow</button>
    </form>

    <a href="/user/dashboard">Back</a>

</body>
</html>
